<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/main">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add User</li>
    </ol>
</nav>

{{#if alert}}
<div class="alert alert-dark mt-4" role="alert">
    {{alert}}
</div>
{{/if}}

<h1>Add User</h1>

<form method="post" class="mt-4" action="/adduser" >

    {{>user-form}}

</form>