
<div class="getButton">
    <button id="btn">GET</button>
</div>

<ul id="notes">

</ul>

<div class="toDoList">
<h3>POST</h3>
<form id="postForm">
    <input type="text" name="input" id="noteInput">
    <div class="sendBtn">
    <button id="toDoSend">Send</button>
    </div>
</form>

<h3>PUT</h3>
<form id="postForm2">
    <div class="idField">
    <input type="text" name="id" id="noteInputID2" placeholder="ID">
    </div>
    <div class="changeName">
    <input type="text" name="input" id="noteInput" placeholder="Change Name">
    </div>
    <div class="updateBtn">
    <button id="toDoUpdate">Update</button>
    </div>

</form>

<h3>DELETE</h3>
<form id="postForm3">
    <h6>Choose ID to delete</h6>
    <input type="text" name="id" id="noteInputID3" placeholder="ID">
    <div class="deleteBtn">
    <button id="toDoDelete">Delete</button>
    </div>
</form>
</div>
<script>

    let ul = document.querySelector('#notes')
    let btn = document.querySelector('#btn')

    btn.addEventListener('click', e => {
        e.preventDefault();
        fetch('http://localhost:3000/getnotes', {
            method: 'GET'
        }).then (raw => raw.json())
                .then(data => {
                    ul.innerHTML = data.map(i => `
                <li>
                    Task number "${i.id}" is: ${i.input}
                </li>`).join('')
                })
    })

    let form = document.querySelector('#postForm')

    form.addEventListener('submit', e => {
        e.preventDefault()
        const object = {}
        new FormData(form).forEach((value, key) => object[key] = value)

        fetch('http://localhost:3000/postnotes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(object)
        }).then(raw => raw.json)
                .then(data => console.log(data))
                .then(err => console.log(err))

    })

    let form2 = document.querySelector("#postForm2")

    form2.addEventListener('submit', e => {
        e.preventDefault()
        const o = {}
        new FormData(form2).forEach((value, key) => o [key] = value)
        fetch(`http://localhost:3000/putnotes/${document.getElementById('noteInputID2').value}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(o)
        }).then(raw => raw.json)
                .then(data => console.log(data))
                .then(err => console.log(err))
    })

    let form3 = document.querySelector("#postForm3")

    form3.addEventListener('submit', e => {
        e.preventDefault()
        fetch(`http://localhost:3000/deletenotes/${document.getElementById('noteInputID3').value}`, {
            method: 'DELETE'

        }).then(raw => raw.json)
                .then(data => console.log(data))
    })


</script>